doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content

  .overlay
    .overlay__spinner
      .overlay__spinner__line

script(src='/javascripts/vendor/jquery.min.js')
script(src='/javascripts/application.js')
